<div class="apiImg-bg" ng-controller="apiImgCtrl">
    <div class="waterfall">
        <div class='waterfall-img' index=1 ng-repeat='img in imgInfo track by $index' ng-init='checkRepeat($last)'>
            <img ng-src='{{img.smallUrl}}'>
            <span class='cover-white' ng-click='openImg(img.bigUrl,img.height)' title='点击查看大图'></span>
            <a class="collect-small" ng-click="collect(img.smallUrl)"><i></i></a>
            <a class="download-small" ng-href="{{img.bigUrl}}" download><i></i></a>
            <span class="img-title">{{img.title}}</span>
        </div>
    </div>
    <div id="loading">正在加载中...</div>
    <div id="img-tips" ng-show="isShowTips">{{imgTips}}</div>
    <div class="black-overlay" ng-if="isShowBigImg1">
        <img class="bigImg" ng-src="{{bigUrl}}">
        <span class="closeImg" ng-click="closeImg()"><i></i></span>
    </div>
    <div class="black-overlay Black-overlay" ng-if="isShowBigImg2">
        <img class="bigImg" ng-src="{{bigUrl}}">
        <span class="closeImg" ng-click="closeImg()"><i></i></span>
    </div>
</div>