.apiImg-bg,
.waterfall {
    height: 100%;
}

.apiImg-bg {
    background-color: #EDECEA;
    padding-top: 53px;
}

.waterfall {
    position: relative;
    width: 1240px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}

.waterfall-img {
    width: 236px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.cover-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 236px;
    z-index: 3;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.cover-white:hover {
    background-color: rgba(255, 255, 255, .2);
}

.waterfall-img>img {
    width: 100%;
    display: block;
}

.waterfall-img>span.img-title {
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 10px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#loading {
    width: 100%;
    margin: 10px auto;
}

.collect-small,
.download-small {
    position: absolute;
    top: 5px;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    z-index: 5;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0, 0, 0, .5);
}

.collect-small:hover,
.download-small:hover {
    border-color: rgb(36, 171, 226);
}

.collect-small {
    left: 5px;
}

.download-small {
    right: 5px;
}

.collect-small>i {
    display: block;
    margin: 5px;
    background: url(../commonStyle/img/icon.png) no-repeat -175px -2px;
    width: 20px;
    height: 19px;
}

.download-small>i {
    display: block;
    margin: 4px 5px;
    background: url(../commonStyle/img/icon.png) no-repeat -71px -1px;
    width: 22px;
    height: 20px;
}

.img-tips {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    padding: 20px;
    color: #24ABE2;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    z-index: 7;
}

.apiImg-bg .black-overlay {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: scroll;
}

.apiImg-bg > .Black-overlay{
    -webkit-align-items: center;
    align-items: center;
}

/*隐藏滚动条*/
.apiImg-bg .black-overlay::-webkit-scrollbar {
    display:none;
    }

.closeImg {
    position: fixed;
    top: 25px;
    right: 25px;
}

.bigImg {
    max-width: 80%;
    /*position: absolute;
    top: 0;
    left: 50%;*/
}

.closeImg>i {
    display: block;
    background: url(../commonStyle/img/icon.png) no-repeat -172px -28px;
    width: 64px;
    height: 64px;
}