<div class="login-info">
    <div ng-controller="loginInfoCtrl">
        <div class="login-div">
            <p ng-show="isLogin"><span>电话：</span><span>{{mobile}}</span></p>
            <p ng-show="!isLogin">
                <a class="login-button" href="javascript:void(0);" ng-click="openLogin()">登录</a>
            </p>
        </div>

        <div class="login-info-right">
            <a class="reset-button" href="javascript:void(0);" ng-click="openReset()" ng-show="isLogin">修改密码</a>
            <span ng-show="isLogin">&#124</span>
            <a class="quit-button" href="javascript:void(0);" ng-click="userQuit()">退出</a>
        </div>

        <p style="width: 100px;color: #acc;">O(∩_∩)O哈哈哈~</p>
    </div>
</div>