.home{
    background-color: #fff;
}

.banner{
    position: relative;
    margin-top: 53px;
    overflow: hidden;
    background-color: #ccc;
}

.swiper-container{
    width: 100%;
    height: 520px;
}

.swiper-wrapper > .swiper-slide > img{
    width: 1360px;
    objec-fit: cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    padding: 1px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    opacity: .4;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1;
}

.banner > .title{
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -180px;
    color: #fff;
    font-size: 40px;
    z-index: 3;
}

.img-container{
	width: 1175px;
    height: 460px;
	margin: 0 auto;
}

.img-container .line{
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.img-container .line:before,.img-container .line:after{
    display: block;
    position: absolute;
    top: 28px;
    width: 44%;
    content: "";
    border-top: 1px solid #ededed;
}

.img-container .line:before{
    left: 0;
}

.img-container .line:after{
    right: 0;
}

.img-container .line > span{
    display: inline-block;
    font-size: 16px;
    color: #999;
}

.img-container .img-box{
	position: relative;
	width: 225px;
	height: 180px;
	float: left;
	overflow: hidden;
	margin: 0 5px 10px;
    border-radius: 5px;
}

.img-container .img-box a img{
	height: 105%;
	margin: 0 auto;
}

.img-container .img-box a:hover img{
	transform:scale(1.05,1.05);
-ms-transform:scale(1.05,1.05); 	
-moz-transform:scale(1.05,1.05);
-webkit-transform:scale(1.05,1.05);
-o-transform:scale(1.05,1.05);
transition-duration: .3s;
-moz-transition-duration: .3s; 
-webkit-transition-duration: .3s;
-o-transition-duration: .3s;
}

.img-container .img-box a .item{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	z-index: 3;
	text-align: left;
	text-indent: 10px;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 100%);
	background-image: -moz-linear-gradient(rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 100%);
	background-image: -o-linear-gradient(rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 100%); 
	background-image: -ms-linear-gradient(rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 100%);
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #333;
}

.footer-link{
    width: 940px;
    margin: 0 auto;
}

.link-box{
    float: left;
    margin: 30px 50px;
}

.link-href-group{
    float: left;
    margin-right: 90px;
}

.footer,.link-href-group a{
    display: inline-block;
    padding: 8px 0;
    color: #bbb;
    text-align: left;
}

.link-href-group a:hover{
    color: #ddd;
}

.footer-title{
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px; 
}

.link-care{
    margin-right: 0;
}

.link-care ul > li >a{
    cursor: default;
}

.footer-copyRight{
    text-align: center;
    padding: 20px 0;
    background-color: #000;
}

