<div class="home" ng-controller="homeCtrl">
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="http://119.23.254.64/img/bg1.jpg"></div>
                <div class="swiper-slide"><img src="http://119.23.254.64/img/bg2.jpg"></div>
                <div class="swiper-slide"><img src="http://119.23.254.64/img/bg3.jpg"></div>
                <div class="swiper-slide"><img src="http://119.23.254.64/img/bg4.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </div>

        <div class="title">
            <span>海量图片，想搜就搜</span>
        </div>
    </div>

    <div class="img-container">
        <div class="line">
            <span>为您推荐</span>
        </div>
        <div class="img-recommend">
            <div class="img-box" ng-repeat="recommend in recommends" ng-init="checkRepeat($last)">
                <a>
                    <img ng-src="{{recommend.url}}">
                    <span class="item">{{recommend.title}}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-link">
            <div class="link-box link-href">
                <div class="footer-title">友情链接</div>
                <div class="link-href-group">
                    <ul>
                        <li><a href="http://huaban.com/" target="_blank">花瓣网</a></li>
                        <li><a href="https://www.duitang.com/" target="_blank">堆糖网</a></li>
                        <li><a href="http://www.58pic.com/" target="_blank">千图网</a></li>
                    </ul>
                </div>
                <div class="link-href-group">
                    <ul>
                        <li><a href="http://image.baidu.com/" target="_blank">百度图片</a></li>
                        <li><a href="http://pic.sogou.com/" target="_blank">搜狗图片</a></li>
                        <li><a href="https://720yun.com/u/eab22wzOql6" target="_blank">720云全景</a></li>
                    </ul>
                </div>
            </div>
            <div class="link-box link-download">
                <div class="footer-title">移动客户端</div>
                <div class="link-href-group">
                    <ul>
                        <li><a href="javascript:void(0);">iPhone版</a></li>
                        <li><a href="javascript:void(0);">Android版</a></li>
                        <li><a href="javascript:void(0);">HD版</a></li>
                    </ul>
                </div>
            </div>
            <div class="link-box link-care">
                <div class="footer-title">关注我们</div>
                <div class="link-href-group">
                    <ul>
                        <li><a>新浪微博：搜图网</a></li>
                        <li><a>官方QQ：312668996</a></li>
                        <li><a>官方微信：18883856708</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="footer-copyRight">
            <p>&copy;2017&nbsp;searchPicWeb Team</p>
        </div>
    </div>
</div>