<div ng-controller="headerCtrl">
    <div class="header-container">
        <div class="header">
            <div class="header-left">
                <a href="" id="homeLogo">
                    <img src="../commonStyle/img/logo.png" alt="搜图网">
                    <span>搜图网</span>
                </a>
                <ul>
                    <li class="active"><a>首页</a></li>
                    <li class=""><a>发现</a></li>
                    <li class=""><a>美图</a></li>
                    <li class=""><a>搞笑</a></li>
                    <li class=""><a>明星</a></li>
                    <li class=""><a>摄影</a></li>
                    <li class=""><a>动漫</a></li>
                    <li class=""><a>女装搭配</a></li>
                </ul>
            </div>

            <div class="header-right">
                <div class="right-div register-div">
                    <a class="right-btn register-btn" href="javascript:void(0);" ng-show="!isLogin" ng-click="openRegister()">注册</a>
                </div>

                <div class="right-div login-div" ng-mouseover="showInfo()" ng-mouseleave="hideInfo()">
                    <a class="header-loginName" ng-show="isLogin">{{loginName}}<i></i></a>
                    <a class="right-btn login-btn" href="javascript:void(0);" ng-show="!isLogin" ng-click="openLogin()">登录</a>
                    <div class="loginInfo" ng-if="isLogin" ng-show="isShowInfo">
                        <i class="callout"></i>
                        <ul>
                            <li><a>个人中心</a></li>
                            <li><a>账户设置</a></li>
                            <li><a>退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="search-box">
                <form>
                    <input type="text" placeholder="搜素你喜欢的图片">
                    <a href=""><img src="../commonStyle/img/icon.png"></a>
                </form>
            </div>
        </div>
    </div>

    <div ng-if="isShowLoginIframe" class="black-overlay">
        <div class="login-box" ng-if="isShowLogin">
            <a class="closeLogin" ng-click="closeLogin()"><i></i></a>
            <h1>登录</h1>
            <form method="post">
                <input type="text" name="username" class="input" placeholder="用户名" ng-model="loginname" ng-change="isDisabled()" required>
                <input type="password" name="password" class="input" placeholder="密码" ng-model="loginpsd" ng-change="isDisabled()" required>
                <div class="login-button">
                    <button type="submit" class="button" ng-click="userLogin()" ng-class="{'true':'disabled','false':''}[disabled]" ng-disabled="disabled">登录</button>
                    <span us-spinner spinner-theme="white" spinner-on="showSpinner"></span>
                </div>
            </form>
            <div class="forgetpsd">
                <a href="javascript:void(0);" class="register-link" ng-click="openRegister()">注册</a>
                <span>&#124</span>
                <a href="">忘记密码？</a>
            </div>
            <p>{{errorMsg}}</p>
        </div>

        <div class="login-box" ng-if="!isShowLogin">
            <a class="closeLogin" ng-click="closeLogin()"><i></i></a>
            <h1>注册</h1>
            <form method="post">
                <input type="password" class="input-off">
                <input type="text" name="username" class="input" placeholder="用户名" ng-model="loginname" ng-change="isDisabled()" required>
                <input type="password" name="password" class="input" placeholder="密码" ng-model="loginpsd" ng-change="isDisabled()" required>
                <input type="password" name="password" class="input" placeholder="确认密码" ng-model="confirmPassword" ng-change="isDisabled()"required>
                <div class="login-button">
                    <button type="submit" class="button" ng-click="userLogin()" ng-class="{'true':'disabled','false':''}[disabled]" ng-disabled="disabled">注册</button>
                    <span us-spinner spinner-theme="white" spinner-on="showSpinner"></span>
                </div>
            </form>
            <div class="forgetpsd">
                <a href="javascript:void(0);" class="register-link" ng-click="openLogin()">登录</a>
            </div>
            <p>{{errorMsg}}</p>
        </div>
    </div>

    <a id="elevator" ng-click="gotoTop()" title="回到顶部"><span></span></a>
</div>