<div class="page-container">
    <div class="login-box" ng-controller="loginCtrl">
        <h1>登录</h1>
        <form method="post">
            <input type="text" name="username" class="username" placeholder="用户名" ng-model="loginname">
            <input type="password" name="password" class="password" placeholder="密码" ng-model="loginpsd">
            <button type="submit" ng-click="userLogin()">登录</button>
        </form>
        <div class="forgetpsd">
            <a href="#">忘记密码？</a>
        </div>
        <p>{{errorMsg}}</p>
    </div>
</div>